$s-arr-btn-r = 0px 131px 0px -131px 8px 11px 161px 142px 'sprite.png';
$s-arr-carousel-l = 130px 83px -130px -83px 11px 17px 161px 142px 'sprite.png';
$s-arr-carousel-r = 150px 0px -150px 0px 11px 17px 161px 142px 'sprite.png';
$s-arr-more-b = 61px 114px -61px -114px 11px 8px 161px 142px 'sprite.png';
$s-arr-newsletter = 44px 114px -44px -114px 12px 9px 161px 142px 'sprite.png';
$s-arr-pagination-l = 13px 131px -13px -131px 8px 11px 161px 142px 'sprite.png';
$s-arr-pagination-r = 39px 131px -39px -131px 8px 11px 161px 142px 'sprite.png';
$s-arr-slider-l = 150px 22px -150px -22px 11px 17px 161px 142px 'sprite.png';
$s-arr-slider-r-sm = 26px 131px -26px -131px 8px 11px 161px 142px 'sprite.png';
$s-arr-slider-r = 130px 61px -130px -61px 11px 17px 161px 142px 'sprite.png';
$s-calendar = 87px 0px -87px 0px 18px 19px 161px 142px 'sprite.png';
$s-close = 110px 77px -110px -77px 13px 13px 161px 142px 'sprite.png';
$s-favorite-act = 80px 95px -80px -95px 15px 14px 161px 142px 'sprite.png';
$s-favorite = 130px 0px -130px 0px 15px 14px 161px 142px 'sprite.png';
$s-flag-empty = 150px 86px -150px -86px 9px 17px 161px 142px 'sprite.png';
$s-flag-full = 150px 108px -150px -108px 9px 17px 161px 142px 'sprite.png';
$s-icon-cart-orange = 0px 46px 0px -46px 23px 22px 161px 142px 'sprite.png';
$s-icon-cart = 28px 46px -28px -46px 23px 22px 161px 142px 'sprite.png';
$s-icon-clock-black = 0px 73px 0px -73px 17px 17px 161px 142px 'sprite.png';
$s-icon-clock = 87px 50px -87px -50px 17px 17px 161px 142px 'sprite.png';
$s-icon-logout = 87px 24px -87px -24px 15px 21px 161px 142px 'sprite.png';
$s-icon-mail-black = 0px 114px 0px -114px 17px 12px 161px 142px 'sprite.png';
$s-icon-mail = 22px 114px -22px -114px 17px 12px 161px 142px 'sprite.png';
$s-icon-mobil-black = 150px 65px -150px -65px 11px 16px 161px 142px 'sprite.png';
$s-icon-mobil = 150px 44px -150px -44px 11px 16px 161px 142px 'sprite.png';
$s-icon-phone-black = 44px 73px -44px -73px 17px 16px 161px 142px 'sprite.png';
$s-icon-phone = 22px 73px -22px -73px 17px 16px 161px 142px 'sprite.png';
$s-icon-point-black = 130px 19px -130px -19px 13px 16px 161px 142px 'sprite.png';
$s-icon-point = 130px 40px -130px -40px 13px 16px 161px 142px 'sprite.png';
$s-icon-search = 56px 46px -56px -46px 19px 21px 161px 142px 'sprite.png';
$s-maps = 66px 73px -66px -73px 16px 16px 161px 142px 'sprite.png';
$s-slider-dot-act = 52px 131px -52px -131px 9px 9px 161px 142px 'sprite.png';
$s-slider-dot = 66px 131px -66px -131px 9px 9px 161px 142px 'sprite.png';
$s-star-empty = 110px 20px -110px -20px 15px 14px 161px 142px 'sprite.png';
$s-star-full = 60px 95px -60px -95px 15px 14px 161px 142px 'sprite.png';
$s-star-half = 20px 95px -20px -95px 15px 14px 161px 142px 'sprite.png';
$s-star = 0px 95px 0px -95px 15px 14px 161px 142px 'sprite.png';
$s-swd = 0px 0px 0px 0px 82px 41px 161px 142px 'sprite.png';
$s-user-favorite-act = 110px 39px -110px -39px 15px 14px 161px 142px 'sprite.png';
$s-user-favorite = 40px 95px -40px -95px 15px 14px 161px 142px 'sprite.png';
$s-user-history-act = 110px 0px -110px 0px 15px 15px 161px 142px 'sprite.png';
$s-user-history = 87px 73px -87px -73px 15px 15px 161px 142px 'sprite.png';
$s-user-profile-act = 100px 95px -100px -95px 15px 14px 161px 142px 'sprite.png';
$s-user-profile = 110px 58px -110px -58px 15px 14px 161px 142px 'sprite.png';
