include helpers/bemto
include helpers/variables
include helpers/mixins

-bemto_settings_prefix = 'b-'

doctype html
html
	head
		title articles
		include inc/head
	body(class="p-articles")
		include partials/header

		.b-box
			.b-common-wrap
				+b('section').articles
					.b-container
						+e('').wrap
							+e('').title-wrap
								+b('span').title Статьи
							+e('').content
								+e('').row
									+b('').article
										+e('').left
											+e('').img-wrap
												+e('img')(src="http://placehold.it/250x250").img
												+e('span').date 23.09.2015
										+e('').right
											+e('').title-wrap
												+b('a')(href="#").title Мы открыли новый раздел снаряжения для страйкбола
											+e('').desc
												p Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, фляги, лопатки и т.д.), и товарами милитарного стиля для военных, охотников, рыболовов, охраны, страйкбола, туристов и людей активоного образа жизни. Основной акцент нашей Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, фляги, лопатки и т.д.), и товарами милитарного стиля для военных, охотников, рыболовов, охраны, страйкбола, туристов и людей активоного образа жизни. Основной акцент нашей Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки
											+e('').more-wrap
												+b('a')(href="#").btn._yellow Читать полностью
								+e('').row
									+b('').article
										+e('').left
											+e('').img-wrap
												+e('img')(src="http://placehold.it/250x250").img
												+e('span').date 23.09.2015
										+e('').right
											+e('').title-wrap
												+b('a')(href="#").title Мы открыли новый раздел снаряжения для страйкбола
											+e('').desc
												p Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, фляги, лопатки и т.д.), и товарами милитарного стиля для военных, охотников, рыболовов, охраны, страйкбола, туристов и людей активоного образа жизни. Основной акцент нашей Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, фляги, лопатки и т.д.), и товарами милитарного стиля для военных, охотников, рыболовов, охраны, страйкбола, туристов и людей активоного образа жизни. Основной акцент нашей Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, 
											+e('').more-wrap
												+b('a')(href="#").btn._yellow Читать полностью
								+e('').row
									+b('').article
										+e('').left
											+e('').img-wrap
												+e('img')(src="http://placehold.it/250x250").img
												+e('span').date 23.09.2015
										+e('').right
											+e('').title-wrap
												+b('a')(href="#").title Мы открыли новый раздел снаряжения для страйкбола
											+e('').desc
												p Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, фляги, лопатки и т.д.), и товарами милитарного стиля для военных, охотников, рыболовов, охраны, страйкбола, туристов и людей активоного образа жизни. Основной акцент нашей Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, фляги, лопатки и т.д.), и товарами милитарного стиля для военных, охотников, рыболовов, охраны, страйкбола, туристов и людей активоного образа жизни. Основной акцент нашей Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, 
											+e('').more-wrap
												+b('a')(href="#").btn._yellow Читать полностью
								+e('').row
									+b('').article
										+e('').left
											+e('').img-wrap
												+e('img')(src="http://placehold.it/250x250").img
												+e('span').date 23.09.2015
										+e('').right
											+e('').title-wrap
												+b('a')(href="#").title Мы открыли новый раздел снаряжения для страйкбола
											+e('').desc
												p Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, фляги, лопатки и т.д.), и товарами милитарного стиля для военных, охотников, рыболовов, охраны, страйкбола, туристов и людей активоного образа жизни. Основной акцент нашей Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, фляги, лопатки и т.д.), и товарами милитарного стиля для военных, охотников, рыболовов, охраны, страйкбола, туристов и людей активоного образа жизни. Основной акцент нашей Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, 
											+e('').more-wrap
												+b('a')(href="#").btn._yellow Читать полностью
								+e('').row
									+b('').article
										+e('').left
											+e('').img-wrap
												+e('img')(src="http://placehold.it/250x250").img
												+e('span').date 23.09.2015
										+e('').right
											+e('').title-wrap
												+b('a')(href="#").title Мы открыли новый раздел снаряжения для страйкбола
											+e('').desc
												p Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, фляги, лопатки и т.д.), и товарами милитарного стиля для военных, охотников, рыболовов, охраны, страйкбола, туристов и людей активоного образа жизни. Основной акцент нашей Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, фляги, лопатки и т.д.), и товарами милитарного стиля для военных, охотников, рыболовов, охраны, страйкбола, туристов и людей активоного образа жизни. Основной акцент нашей Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, фл
											+e('').more-wrap
												+b('a')(href="#").btn._yellow Читать полностью
				+b('').pagination-box
					.b-container
						+e('').wrap
							+e('').left
								+b('a')(href="#").more-items Показать еще 10
							+e('').right
								+b('').pagination
									+e('span').ctrl._prev._inactive
									+e('a')(href="#").item._active 1
									+e('a')(href="#").item 2
									+e('a')(href="#").item 3
									+e('a')(href="#").item._no-hover ...
									+e('a')(href="#").item 20
									+e('a')(href="#").ctrl._next

			include partials/footer
		include inc/vendor-scripts
		script(src="js/client.min.js")
