include helpers/bemto
include helpers/variables
include helpers/mixins

-bemto_settings_prefix = 'b-'

doctype html
html
	head
		title product
		include inc/head
	body(class="p-product")
		include partials/header

		.b-box
			.b-common-wrap
				+b('section').content
					+e('').left
						+b('form').filters
							+e('').item
								+b('nav').filters-menu
									+e('').item
										+e('a')(href="#").link Вся одежда
										+e('span').num 670
									+e('').item._active
										+e('span').link Куртки
										+e('span').num 360
									+e('').item
										+e('a')(href="#").link Водоустойчивая
										+e('span').num 41
									+e('').item
										+e('a')(href="#").link Брюки и кители
										+e('span').num 25
							+e('').item
								+b('nav').filters-menu
									+e('').item
										+e('a')(href="#").link 5.11 Tactical
										+e('span').num 306
									+e('').item
										+e('a')(href="#").link Обувь
										+e('span').num 306
									+e('').item
										+e('a')(href="#").link Экипировка
										+e('span').num 306
									+e('').item
										+e('a')(href="#").link Фонари, светильники
										+e('span').num 306
									+e('').item
										+e('a')(href="#").link Оптические приборы
										+e('span').num 306
					+e('').right
						+b('').product
							+e('').wrap
								+b('').title-box
									+e('').left
										+e('').title-wrap
											+b('span').title Куртка BDU камуфляж "пустыня"
									+e('').right
										+b('a')(href="#").back-link Назад в каталог
								+e('').content
									+e('').left
										+e('img')(src="http://placehold.it/249x249").img
									+e('').right
										+e('').row
											+b('').product-info
												+e('').left
													+e('').row
														+b('').rate-widget
															+e('').left
																+e('span').label Рейтинг:
																+e('').stars
																	+e('a')(data-rank="1").star._act
																	+e('a')(data-rank="2").star._act
																	+e('a')(data-rank="3").star._act
																	+e('a')(data-rank="4").star._half
																	+e('a')(data-rank="5").star
																+e('span').sum 3.8
															+e('').right
																+e('a')(href="#").btn Оценить
													+e('').row
														+b('').specifications
															+e('').item
																+e('span').label Состав:
																+e('span').text Rip-stop 100% хлопок
															+e('').item
																+e('span').label Код продукта:
																+e('span').text  0150443
															+e('').item
																+e('span').label Цвета:
																+e('span').text  урбан (городской камуфляж)
															+e('').item
																+e('span').label Размеры:
																+e('span').text  M, L, XXL
												+e('').right
													+e('').row
														+b('a')(href="#").favorite В избранное
													+e('').row
														+b('sapn').price._icon 810<sup>000</sup> руб.
													+e('').row
														+b('a')(href="#").btn._yellow._arr._arr_r Добавить в корзину
										+e('').row
											+e('').desc
												p Куртка MA-1 идеального качества, предназначена для двустороннего но?ения. Одна сторона летной куртки MA-1 на 100% состоит из нейлона, что делает куртку прочной, износостойкой и легкой. Вторая сторона летной куртки MA-1 на 65% состоит из полиэстера и на 35% из хлопка, что делает куртку мягкой, эластичной, стойкой к воздействию микробов и моли. Выделка летней куртки MA-1 на 100% состоит из нейлона, а утеплитель на 100% полиэстера. Благодаря усиленной фронтальной молнии летная куртка MA-1 плотно застегивается, что защищает тело от ветра. Манжеты рукавов и низ сделаны из эластичного материала, что защищает от ветра. Камуфляжный цвет летной куртки MA-1 (камуфляж urban (урбан)) придает ей оригинальность.
						+b('').product-foto
							+e('').wrap
								+e('').title-wrap
									+b('span').title Фотографии товара
								+b('').carousel-foto.owl-carousel
									+e('').item
										+e('img')(src="http://placehold.it/77x77").img
									+e('').item
										+e('img')(src="http://placehold.it/77x77").img
									+e('').item
										+e('img')(src="http://placehold.it/77x77").img
									+e('').item
										+e('img')(src="http://placehold.it/77x77").img
									+e('').item
										+e('img')(src="http://placehold.it/77x77").img
						+b('').comments
							+e('').wrap
								+e('').title-wrap
									+e('').item
										+b('span').title Отзывы о товаре
									+e('').item
										+b('a')(href="#").btn._yellow Написать отзыв
								+e('').content
									+e('').row
										+b('').comment
											+e('').head
												+e('').left
													+e('img')(src="img/comment-pic.png").img
												+e('').right
													+e('span').author Александр
													+e('span').date 20.10.2015
											+e('').text
												p Куртка MA-1 идеального качества, предназначена для двустороннего но?ения. Одна сторона летной куртки MA-1 на 100% состоит из нейлона, что делает куртку прочной, износостойкой и легкой. Вторая сторона летной куртки MA-1 на 65% состоит из полиэстера и на 35% из хлопка, что делает куртку мягкой, эластичной, стойкой к воздействию микробов и моли. Выделка летней куртки MA-1 на 100% состоит из нейлона, а утеплитель на 100% полиэстера. Благодаря усиленной фронтальной молнии летная куртка MA-1 плотно застегивается, что защищает тело от ветра. Манжеты рукавов и низ сделаны из эластичного материала, что защищает от ветра. Камуфляжный цвет летной куртки MA-1 (камуфляж urban (урбан)) придает ей оригинальность.
									+e('').row
										+b('').comment
											+e('').head
												+e('').left
													+e('img')(src="img/comment-pic.png").img
												+e('').right
													+e('span').author Александр
													+e('span').date 20.10.2015
											+e('').text
												p Куртка MA-1 идеального качества, предназначена для двустороннего но?ения. Одна сторона летной куртки MA-1 на 100% состоит из нейлона, что делает куртку прочной, износостойкой и легкой. Вторая сторона летной куртки MA-1 на 65% состоит из полиэстера и на 35% из хлопка, что делает куртку мягкой, эластичной, стойкой к воздействию микробов и моли. Выделка летней куртки MA-1 на 100% состоит из нейлона, а утеплитель на 100% полиэстера. Благодаря усиленной фронтальной молнии летная куртка MA-1 плотно застегивается, что защищает тело от ветра. Манжеты рукавов и низ сделаны из эластичного материала, что защищает от ветра. Камуфляжный цвет летной куртки MA-1 (камуфляж urban (урбан)) придает ей оригинальность.
									+e('').row
										+b('').comment
											+e('').head
												+e('').left
													+e('img')(src="img/comment-pic.png").img
												+e('').right
													+e('span').author Александр
													+e('span').date 20.10.2015
											+e('').text
												p Куртка MA-1 идеального качества, предназначена для двустороннего но?ения. Одна сторона летной куртки MA-1 на 100% состоит из нейлона, что делает куртку прочной, износостойкой и легкой. Вторая сторона летной куртки MA-1 на 65% состоит из полиэстера и на 35% из хлопка, что делает куртку мягкой, эластичной, стойкой к воздействию микробов и моли. Выделка летней куртки MA-1 на 100% состоит из нейлона, а утеплитель на 100% полиэстера. Благодаря усиленной фронтальной молнии летная куртка MA-1 плотно застегивается, что защищает тело от ветра. Манжеты рукавов и низ сделаны из эластичного материала, что защищает от ветра. Камуфляжный цвет летной куртки MA-1 (камуфляж urban (урбан)) придает ей оригинальность.
						+b('').other-products
							+e('').wrap
								+e('').title-wrap
									+b('span').title Недавно просмотренные
								+carousel-b
						+b('').other-products
							+e('').wrap
								+e('').title-wrap
									+b('span').title Также рекомендуем
								+carousel-b
						+b('').help-in-choosing._indented
							+e('').wrap
								+e('').title-wrap
									+b('span').title Помощь в выборе
								+e('').col-wrap
									+e('').col
										+b('').help-item
											+e('').row
												+e('').img-wrap
													+e('img')(src="http://placehold.it/300x190").img
													+e('').title-wrap
														+e('img')(src="img/icon-hunting.png").icon
														+e('span').title Для охоты
											+e('').row
												+e('').content
													+e('span').text 348 товаров
													+e('span').text По цене от 670 000 руб.
											+e('').row
												+b('a')(href="#").btn._gray Смотреть товары
									+e('').col
										+b('').help-item
											+e('').row
												+e('').img-wrap
													+e('img')(src="http://placehold.it/300x190").img
													+e('').title-wrap
														+e('img')(src="img/icon-fishing.png").icon
														+e('span').title Для рыбалки
											+e('').row
												+e('').content
													+e('span').text 348 товаров
													+e('span').text По цене от 670 000 руб.
											+e('').row
												+b('a')(href="#").btn._gray Смотреть товары
									+e('').col
										+b('').help-item
											+e('').row
												+e('').img-wrap
													+e('img')(src="http://placehold.it/300x190").img
													+e('').title-wrap
														+e('img')(src="img/icon-tourism.png").icon
														+e('span').title Для туризма
											+e('').row
												+e('').content
													+e('span').text 348 товаров
													+e('span').text По цене от 670 000 руб.
											+e('').row
												+b('a')(href="#").btn._gray Смотреть товары
									+e('').col
										+b('').help-item
											+e('').row
												+e('').img-wrap
													+e('img')(src="http://placehold.it/300x190").img
													+e('').title-wrap
														+e('img')(src="img/icon-tactics.png").icon
														+e('span').title Для тактика
											+e('').row
												+e('').content
													+e('span').text 348 товаров
													+e('span').text По цене от 670 000 руб.
											+e('').row
												+b('a')(href="#").btn._gray Смотреть товары
						+b('').bottom-text._no-border
							+e('').wrap
								+e('').title-wrap
									+b('span').title Одежда в каталоге "Арсенал-БЛ"
								+e('').text
									p Наша деятельность - розничная и оптовая торговля различными товарами в стиле милитари, которые пригодятся гражданскому человеку во время отдыха на природе (одежда, обувь, рюкзаки, палатки, спальные мешки, фонари, котелки, фляги, лопатки и т.д.), и товарами милитарного стиля для военных, охотников, рыболовов, охраны, страйкбола, туристов и людей активоного образа жизни. Основной акцент нашей компании это стиль MILITARY.  Стиль "милитари" появился и громко заявил о себе после окончания первой мировой войны. Это было вызвано рядом причин: разрушенной структурой производства гражданской одежды и, напротив, отлаженной военной; желанием военных подчеркнуть свой статус победителя и культом новой мужской красоты у подрастающего поколения; ущербностью и устарелостью разработок довоенной моды в сравнении с потрясающими эргономическими характеристиками солдатской формы. В основе товаров милитарного стиля лежит использование специфических материалов, тканей, кроя, технологий проверенных временем! Наш основной акцент – надежно и практично!

			include partials/footer
		include inc/vendor-scripts
		script(src="js/client.min.js")
