include helpers/bemto
include helpers/variables
include helpers/mixins

-bemto_settings_prefix = 'b-'

doctype html
html
    head
        title user favorite
        include inc/head
    body(class="p-user-favorite")
        include partials/header

        .b-box
            .b-common-wrap
                +b('section').content
                    +e('').left
                        +b('form').filters
                            +e('').item
                                +b('nav').filters-menu
                                    +e('').item
                                        +e('span').link._icon._icon_profile Личные данные
                                    +e('').item._active
                                        +e('a')(href="#").link._icon._icon_favorite Избранные товары
                                        +e('span').num 18
                                    +e('').item
                                        +e('a')(href="#").link._icon._icon_history История заказов
                                        +e('span').num 20
                    +e('').right
                        +b('').user-favorite
                            +e('').wrap
                                +e('').title-wrap
                                    +b('span').title Избранные товары
                                +e('').col-wrap
                                    +e('').row
                                        +e('').col
                                            +favorite-prod-item
                                        +e('').col
                                            +favorite-prod-item
                                        +e('').col
                                            +favorite-prod-item
                                        +e('').col
                                            +favorite-prod-item
                                    +e('').row
                                        +e('').col
                                            +favorite-prod-item
                                        +e('').col
                                            +favorite-prod-item
                                        +e('').col
                                            +favorite-prod-item
                                        +e('').col
                                            +favorite-prod-item
                                    +e('').row
                                        +e('').col
                                            +favorite-prod-item
                                        +e('').col
                                            +favorite-prod-item
                                        +e('').col
                                            +favorite-prod-item
                                        +e('').col
                                            +favorite-prod-item
                                    +e('').row
                                        +e('').col
                                            +favorite-prod-item

            include partials/footer
        include inc/vendor-scripts
        script(src="js/client.min.js")
