+b('footer').footer
    +e('').top
        .b-container
            +e('').wrap
                +e('').left
                    +b('').footer-left
                        +e('').row
                            +b('a')(href="#").logo
                                +e('img')(src="img/logo-btm.png").img
                        +e('').row
                            +b('span').copyright © 2013-2015 “Арсенал-БЛ”.<br /> Одежда и снаряжение для Охраны,<br /> страйкбола, охоты и туризма.<br />  <a href="http://arsenal-bl.by">www.arsenal-bl.by</a>.<br /> Все права защищены.
                        +e('').row
                            +b('').social-ftr
                                +e('a')(href="#").item
                                    +e('img')(src="img/fb.png").img
                                +e('a')(href="#").item
                                    +e('img')(src="img/vk.png").img
                +e('').middle
                    +b('').footer-middle
                        +e('').col-wrap
                            +e('').col
                                +b('').widget
                                    +e('span').title О магазине
                                    +e('').menu
                                        +e('').item
                                            +e('a')(href="#").link Сотрудничество
                                        +e('').item
                                            +e('a')(href="#").link Реквизиты
                                        +e('').item
                                            +e('a')(href="#").link Новости
                                        +e('').item
                                            +e('a')(href="#").link Доставка и оплата
                                        +e('').item
                                            +e('a')(href="#").link Подарочные сертификаты
                                        +e('').item
                                            +e('a')(href="#").link Дисконт
                            +e('').col
                                +b('').widget
                                    +e('span').title Информация
                                    +e('').menu
                                        +e('').item
                                            +e('a')(href="#").link Как совершить покупку
                                        +e('').item
                                            +e('a')(href="#").link Публичная оферта
                                        +e('').item
                                            +e('a')(href="#").link Правила продажи
                                        +e('').item
                                            +e('a')(href="#").link Замена и возврат товара
                            +e('').col
                                +b('').widget
                                    +e('span').title Клиентам
                                    +e('').menu
                                        +e('').item
                                            +e('a')(href="#").link Каталог
                                        +e('').item
                                            +e('a')(href="#").link Бренды
                                        +e('').item
                                            +e('a')(href="#").link Корзина
                                        +e('').item
                                            +e('a')(href="#").link Вход
                                        +e('').item
                                            +e('a')(href="#").link Обратная связь
                                        +e('').item
                                            +e('a')(href="#").link Заказать звонок
                +e('').right
                    +b('').widget
                        +e('span').title Контакты
                        +b('').contacts-ftr
                            +e('').row
                                +e('span').item._point Республика Беларусь, г. Минск, ул. Притыцкого, д. 2/1
                            +e('').row
                                +e('a')(href="tel:+375172027888").item._phone +375 17 202 78 88
                            +e('').row
                                +e('a')(href="tel:+375293195808").item._mobil +375 29 319 58 08
                            +e('').row
                                +e('span').item._mail <a href="http://magazin@arsenal-bl.by">magazin@arsenal-bl.by</a>, <a href="http://sergei@arsenal-bl.by">sergei@arsenal-bl.by</a>
                            +e('').row
                                +e('span').item._clock Пн-Пт: 10.00 - 19.00, Сб: 10.00 - 18.00
    +e('').bottom
        .b-container
            +b('').footer-bottom
                +e('').left
                    +b('span').footer-data-text Дата регистрации интернет магазина в Торговом реестре Республики Беларусь 15.06.2010г №147655
                +e('').right
                    +b('a')(href="http://swdpower.com").swd
