+b('header').header
    +e('').wrap
        +e('').contacts
            +e('').row
                +e('span').title МАГАЗИН военных и тактических товаров
            +e('').row
                +b('').phones
                    +e('').row
                        +e('a')(href="tel:+375(17) 202 78 88").item +375(17) 202 78 88
                    +e('').row
                        +e('a')(href="tel:+375(29) 319 58 08").item +375(29) 319 58 08
        +e('').menu
            +b('').header-menu
                +e('').wrap
                    +e('').left
                        +b('a')(href="#").logo
                            +e('img')(src="img/logo-top.png").img
                    +e('').middle
                        +b('nav').menu
                            +e('').item
                                +e('a')(href="#").link Каталог
                            +e('').item
                                +e('a')(href="#").link 5.11 Tactical
                            +e('').item
                                +e('a')(href="#").link Бренды
                            +e('').item
                                +e('a')(href="#").link Сертификаты/скидки
                            +e('').item
                                +e('a')(href="#").link._active О нас
                            +e('').item
                                +e('a')(href="#").link Оплата/доставка
                            +e('').item
                                +e('a')(href="#").link Статьи
                            +e('').item
                                +e('a')(href="#").link Контакты
                    +e('').right
                        +b('').top-menu-links
                            +e('').item
                                +b('a')(href="#").logout
                            +e('').item
                                +b('a')(href="#").cart-link
                                    +e('span').prods-in-cart 0
        +e('').search
            +b('').search-box
                +e('').wrap
                    +b('form').search
                        +e('input')(type="text" placeholder="Введите фразу для поиска и нажмите Enter...").input
                        +e('input')(type="submit" value="").submit
